.gender-label {
    display: block;
    font-size: 12px;
    text-align: center;
    width: 33.33%;
    height: 30px;
    border: 1px solid silver;
    padding: 6px;
    text-transform: uppercase;
    cursor: pointer;
}

.gender-container input[type="radio"] {
    display: none;
}

.gender-container input[type="radio"]:checked + .gender-label {
    color: white;
    background: blue;
    transition: all 0.5s;
}
