.gender {
    display: block;
    font-size: 12px;
    text-align: center;
    width: 33.33%;
    height: 30px;
    border: 1px solid silver;
    padding: 6px;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    color: white;
    background: blue;
}

.gender input[type="radio"] {
    display: none;
}
