.page-404 {
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.page-404-message {
    padding-top: 100px;
}

.page-404-message h1:nth-child(1) {
    font-size: 100px;
}
