:root {
    --bigFontSize: 100px;
}

.link {
    text-decoration: none;
    color: blue;
    margin: 0 25px;
    align-self: center;
}

.link-silver {
    color: silver;
}

.error {
    color: red;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
